body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.custom-title{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-start;
  margin-top: 50px;
  font-size: 60px;
  ;
}

h1{
margin: 0;
color: gray;

}

.custom-paragraph{
  color:black;
  background-color: #17a2b8;
  font-size: large;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
