body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.custom-title{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: flex-start;
  margin-top: 50px;
  font-size: 60px;
  ;
}

h1{
margin: 0;
color: #C72C37;

}

.custom-paragraph{
  color:white;
  background-color: #C72C37;
  font-size: large;
}

.bg-custom{
  background: #C72C37;
}

/* Mis trabajos */





#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}

#Acerca-de-mi {
  background-color: #C72C37; 
  padding: 20px; 
  color: white; 
  width: 100%;
  margin: auto;
  
  
}

.bg-but{
  background-color: #C72C37;
}

.bg-but:hover {
  background-color: #add8e6; /* Color más oscuro al hacer hover */
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
